.users {
  &__guesser {
    p {
      border-bottom: 1px solid black;
      font-weight: 600;
      font-size: large;
    }
    &_user {
      display: flex;
      &-avatar {
        width: 20px;
        height: 20px;
        background: url('../assets/images/avatars/man.png');
        background-size: contain;
      }
      &-nickname {
        margin-left: 5px;
        display: flex;
        align-items: center;
      }
    }
  }
  &__painter {
    p {
      border-bottom: 1px solid black;
      font-weight: 600;
    }
    &_user {
      display: flex;
      &-avatar {
        width: 20px;
        height: 20px;
        background: url('../assets/images/avatars/man_2.png');
        background-size: contain;
      }
      &-nickname {
        margin-left: 5px;
        display: flex;
        align-items: center;
      }
    }
  }
}
