.users {
  width: 200px;
  &__guesser {
    &_user {
      display: flex;
      &-avatar {
        width: 20px;
        height: 20px;
        background: url('../assets/images/avatars/man.png');
        background-size: contain;
      }
      &-nickname {
        display: flex;
        align-items: center;
      }
    }
  }
  &__painter {
    &_user {
      display: flex;
      &-avatar {
        width: 20px;
        height: 20px;
        background: url('../assets/images/avatars/man_2.png');
        background-size: contain;
      }
      &-nickname {
        display: flex;
        align-items: center;
      }
    }
  }
}
