$color_bg_primary: white;
$color_primary: white;
$color_secondary: black;
$color_error: red;
$color_bg_secondary: cadetblue;
$color_hover_bg: #c4c4c4;
$color_header_hover_bg: rgba(0, 0, 0, 0.3);

$header_h: 50px;
$footer_h: 40px;
$panel_h: 70px;
