.userEntrance {
  @extend .middleBlock;

  &--form {
    @extend .middleBlock--block;
  }

  &--title {
    text-align: center;
    font-weight: 900;
    font-size: 1.3em;
    letter-spacing: 0.2em;
  }

  &--text {
    height: 1em;
    font-size: 1.2em;
    color: $color_error;
  }
}
